{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}

{% block content %}
<br>
<hr>
<br>
<div class="container" style="background: white; border: 2px solid black;">
<h2 class="display-6">Log Into Your Amour Account</h2>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary ms-2" type="submit">Log In</button>
    </form>
    
    <p>
        <a href="{% url 'password_reset' %}">
            <center>Forgot Your Password?</center>
            </a>
    </p>
    
</div>
<br>
<hr>
<br>
{% endblock content %}