<!--Amour/Templates/registration/password_reset_form.html-->

{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Did somebody forget their password?{% endblock title %}

{% block content %}
<h1>Did somebody forget their password?</h1>
<p>Enter your mail address and we will email you instructions to reset your password, silly goose.</p>

<form method="POST">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-valentine" type="submit" value="Send me instructions!">
</form>
{% endblock content %}