{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}

<div class="hero" style="border:2px solid black; background:rgb(198, 7, 106)">
    <div class="hero-body">
        <center>
            <p class="title display-1">
                <main>Amour</main>
            </p>
        </center>
    </div>
</div>

{% if user.is_authenticated %}
<section class="section">
    <div class="container welcome-container">
        <h2 class="title display-4 center-text">Welcome to Amour</h2>
        <div class="box" style="background:rgb(39, 38, 38); border: solid black 2px;">
            <p class="has-text-centered" style="color: black; border: solid 3px #AA336A; background: white;">
                Welcome Back, <strong style="color: black;">{{ user.username }}</strong>!<br>
                You currently have <strong style="color: black;">0 matches</strong>. 

                <div class="columns is-gapless" style="gap: 10px; align-items: stretch;">
                    <!-- Profile Picture -->
                    <div class="column is-one-third has-text-centered" style="border: solid 3px #AA336A; background: #f5f5f5;">
                        {% if user.profile_pic %}
                            <figure class="image is-square">
                                <img class="is-rounded" src="{{ user.profile_pic.url }}" alt="Profile Picture" style="border: black 2px solid;">
                            </figure>
                            <p style="color: black;">Your Profile Picture is looking Radical!</p>
                        {% else %}
                            <figure class="image is-square">
                                <img class="is-rounded" src="{% static 'default_profile.png' %}" alt="Default Profile Picture">
                            </figure>
                            <p style="color: black;">You might want to add a photo so someone can see what you look like!</p>
                        {% endif %}
                    </div>

                    <!-- Work in Progress Section -->
                    <div class="column is-one-third has-text-centered" style="border: solid 3px #AA336A; background: #f5f5f5;">
                        <h1 style="color: #444;">Work in Progress</h1>
                        <p style="color: #444;">This section is under construction!</p>
                    </div>

                    <!-- Profile Content -->
                    <div class="column is-one-third has-text-centered" style="border: solid 3px #AA336A; background: #f5f5f5; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                        <h1 style="color: #444;">Profile Content</h1>
                        <p style="color: #444;">Bio: {{ user.bio|default:"Not provided yet" }}</p>
                        <p style="color: #444;">Interests: {{ user.interests|default:"Not provided yet" }}</p>
                    </div>
                </div>

                <hr>
                <div class="is-fluid" style="border: solid 3px #AA336A; background: white;">
                    <center>
                        <br>
                        <a class="btn-valentine roundcorners" href="{% url 'take-survey' %}" class="button is-link">Take the Survey</a>
                        <br><br>
                    </center>
                </div>
            </p>
        </div>

        <div class="box" style="background: rgb(39, 38, 38); border: solid black 2px;">
            <h5 class="subtitle is-5 center-text" style="color: black;">Tips for Dating Success:</h5>
            <hr>
            <br>
            <div class="container is-fluid" style="border: solid 3px #AA336A; background: white;">
                <ol class="tips-list">
                    <li style="color: black;">Start putting yourself out there more.</li>
                    <li style="color: black;">Find an outfit that you feel good and confident in.</li>
                    <li style="color: black;">Don't be afraid to message first, but don't double text.</li>
                    <li style="color: black;">Find someone with common interests.</li>
                    <li style="color: black;">Be yourself.</li>
                </ol>
            </div>
        </div>

        <br>

        <div class="box" style="background:rgb(39, 38, 38); border: solid black 2px;">
            <center>
                <div>
                    <br>
                    <hr>
                    <h5 class="subtitle display-6 center-text" style="color: black; background: white; border: solid 3px #AA336A;">
                        A Video to Help Get You Back On Your Feet Again:
                    </h5>
                    <div class="container" style="background: white; border: solid 3px #AA336A;">   
                        <br>
                        <hr>
                        <p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/lq3vMfIpXT8?si=q4t3bTzaNKqxLpmv" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </p>
                        <hr><br>
                    </div>
                    <hr><br>
                </div> 
            </center> 
        </div>
    </div>
</section>
{% else %}
    <div class="notification is-warning">
        <p>Please log in to see your profile and personalized content.</p>
    </div>
{% endif %}
{% endblock %}