<!--Amour/Templates/profileEdit.html-->
{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <!-- Left Column for Profile Picture -->
            <div class="column is-one-third has-text-centered">
                {% if user.profile_pic %}
                    <figure class="image is-square">
                        <img class="is-rounded" src="{{ user.profile_pic.url }}" alt="Profile Picture">
                    </figure>
                {% else %}
                    <figure class="image is-square">
                        <img class="is-rounded" src="{% static 'default_profile.png' %}" alt="Default Profile Picture">
                    </figure>
                {% endif %}
            </div>

            <!-- Right Column for Profile Info -->
            <div class="column">
                <h1 class="title is-4">{{ user.username }}</h1>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Age:</strong> {{ user.age }}</p>
                <p><strong>Gender:</strong> {{ user.Gender }}</p>
                <p><strong>Looking for:</strong> {{ user.Desires|capfirst }}</p>
                <!-- Optionally, you can add a button to navigate to the edit profile page -->
                <a href="{% url 'profile_edit' %}" class="btn btn-valentine">Edit Profile</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
